{{> head }}



    {{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Hola, {{nombre}} </h1>
        </div>
        <div class="col-4">
            <img src="assets/img/nodejs.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}